- @notes.each do |note|
  .four.columns.note
    .edit-delete
      = link_to 'Edit', edit_note_path(note)
      = link_to 'X', note, method: :delete, data: { confirm: 'Are you sure you want to delete this note?' }
    .title= note.title
    %p= note.content
    .row
      - note.attachments.each do |attachment|
        = link_to attachment.document_file_name, attachment.document.url, class: 'button attachment'
